
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>{% block title %}Home {% endblock title %} | SCRAPPY</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="assets/images/logo/favicon.png">

    {% block cascade_files%}
      {% include 'cascade_files.html' %}
    {% endblock %}

</head>

<body>
    <div class="app">
        <div class="layout">
            {% block sidenav %}
              {% include 'side_nav.html' %}
            {% endblock %}
            <div class="page-container">
              {% block headstart %}
                {% include 'headstart.html' %}
              {% endblock %}
              {% block content %}
              {% endblock %}
              {% block footer %}
                {% include 'footer.html' %}
              {% endblock %}
            </div>

        </div>
    </div>

    {% block javascript_includes %}
      {% include 'javascript_includes.html' %}
    {% endblock %}
</body>

</html>
