{% load static %}

{% block cascade_files %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link href="{% static 'css/ei-icon.css' %}" rel="stylesheet">
<link href="{% static 'css/themify-icons.css' %}" rel="stylesheet">
<link href="{% static 'css/fontawesome.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/app.css' %}" rel="stylesheet">
{% endblock %}
