{% block footer %}
<footer class="content-footer">
    <div class="footer">
        <div class="copyright">
            <span>Copyright © 2018 <b class="text-dark">n1rna</b>. All rights reserved.</span>
            <span class="go-right">

  <a href="" class="text-gray"><i class="fab fa-github"></i>github</a>
</span>
        </div>
    </div>
</footer>
{% endblock %}
