{% load static %}
{% block javascript_includes %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<script src="{% static 'js/app.js' %}"></script>

<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
