{% extends 'base.html' %}
{% block content %}
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
          {% for p in products_list %}
          <div class="col-md-6">
              <div class="card">
                  <div class="card-horizon">
                      <div class="image-container col-md-4">
                          <div class="background-holder has-content" style="background-image: url('assets/images/others/img-5.jpg')"></div>
                      </div>
                      <div class="container-fluid">
                          <div class="row">
                              <div class="col-md-8 ml-auto">
                                  <div class="pdd-vertical-30 pdd-horizon-25">
                                      <h2 class="mrg-btm-20">{{p.persian_name}}</h2>
                                      <p>{{p.english_name}}</p>
                                      <p>{{p.origin_shop_name}}</p>
                                      <div class="mrg-top-25">
                                          <a href="products/{{p.id}}" class="btn btn-primary no-mrg-btm">Details</a>
                                      </div>

                                  </div>
                              </div>
                      </div>
                  </div>
              </div>
          </div>

        </div>
        {% endfor %}

    </div>
</div>

</div>
{% endblock %}
