{% extends 'base.html' %}
{% block content %}

                      <div class="main-content">
                          <div class="container-fluid">
                              <div class="row">
                                <div class="col-md-5">
                                    <div class="card">
                                        <div class="card-block">
                                          {% for r in similar_products %}
                                            <div class="table-overflow">
                                                <table id="dt-opt" class="table table-lg table-hover">
                                                    <thead>

                                                    </thead>
                                                    <tbody>
                                                        <tr>

                                                          <div class="card">
                                                            <form method="POST" action="{% url 'match_two_products' %}">{% csrf_token %}
                                                              <input type="hidden" value="{{main_product.id}}" name="primary_product_id"/>
                                                              <input type="hidden" value="{{r.id}}" name="secondary_product_id" />

                                                            <a href="/scrappy/products/{{r.id}}"><h2 class="mrg-btm-20">{{r.persian_name}}</h2></a>
                                                            <p>{{r.origin_shop_name}}</p>
                                                            <p>{{r.english_name}}</p>
                                                            <div class="mrg-top-25 mrg-btm-10 mrg-left-20">
                                                                <button type="submit" class="btn btn-primary no-mrg-btm">Merge</button>
                                                            </div>
                                                            </form>
                                                          </div>

                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-7">
                                    <div class="card">
                                        <div class="card-horizon">
                                          <div class="card-media">
                                              <img class="img-responsive" src="{{main_product.original_image_url}}" alt="">
                                          </div>
                                          <div class="card-block">
                                              <h4 class="mrg-btm-20 no-mrg-top">{{main_product.persian_name}}</h4>
                                              <p>{{main_product.english_name}}</p>
                                              <p>{{main_product.origin_shop_name}}</p>
                                              <p>{{main_product.brand}}</p>
                                              <p>{{main_product.price}}</p>
                                              <h4 class="mrg-btm-20 no-mrg-top">Matches</h4>
                                              {% for m in main_product.base_product.matches.all %}
                                              <div class="card">
                                                  <h2 class="mrg-btm-20">{{m.persian_name}}</h2>
                                                  <p>{{m.id}}</p>

                                              </div>
                                              {% endfor %}

                                          </div>
                                    </div>
                                </div>

                              </div>


                          </div>
                      </div>
                  </div>

{% endblock %}
