{% block sidenav %}
<div class="side-nav">
    <div class="side-nav-inner">
        <div class="side-nav-logo">
            <div class="mobile-toggle side-nav-toggle">
                <a href="">
                    <i class="ti-arrow-circle-left"></i>
                </a>
            </div>
        </div>
        <ul class="side-nav-menu scrollable">
            <li class="nav-item active">
                <a class="mrg-top-30" href="{% url 'frontpage' %}">
                    <span class="icon-holder">
        <i class="ti-home"></i>
      </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="{% url 'products_list' %}">
                    <span class="icon-holder">
        <i class="ei-cctv"></i>
      </span>
                    <span class="title">Products</span>
                    <span class="arrow">
        <i class="ti-angle-right"></i>
      </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'products_list' %}">All</a>
                    </li>
                    <li>
                        <a href="{% url 'products_list' %}">Verified</a>
                    </li>
                    <li>
                        <a href="{% url 'products_list' %}">Unverifed</a>
                    </li>


                </ul>
            </li>

            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
        <i class="ei-shopping-cart"></i>
      </span>
                    <span class="title">Shops</span>
                    <span class="arrow">
        <i class="ti-angle-right"></i>
      </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'products_list' %}?shop=Digikala">Digikala</a>
                    </li>
                    <li>
                        <a href="{% url 'products_list' %}?shop=Bamilo">Bamilo</a>
                    </li>
                    <li>
                        <a href="{% url 'products_list' %}?shop=Meghdad">Meghdad</a>
                    </li>
                    <li>
                        <a href="{% url 'products_list' %}?shop=Modiseh">Modiseh</a>
                    </li>

                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
        <i class="ei-agenda"></i>
      </span>
                    <span class="title">Categories</span>
                    <span class="arrow">
        <i class="ti-angle-right"></i>
      </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'products_list' %}?category=Cellphone">Cellphone</a>
                    </li>
                    <li>
                        <a href="{% url 'products_list' %}?category=Home-Appliance">Home Appliances</a>
                    </li>
                    <li>
                        <a href="{% url 'products_list' %}?category=Wearable">Wearable</a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
